$white: white;
$padding10: 10px;

@mixin flexbox ($justify, $aling){
    display: flex;
    justify-content: $justify;
    align-items: $aling;
}

@mixin boxModel ($width, $padding, $margin){
    width: $width;
    padding: $padding;
    margin: $margin;
}

%BorderBox {
    box-sizing: border-box;
}

* {
    @extend %BorderBox;
}

body {
    @include boxModel(100%, 0, 0);
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
}

.header {
    @include boxModel(100%, 5px 5%, null);
    background-color: #fff3dd;
    @include flexbox(space-between, center);
    @extend %BorderBox;

    .header__logo {
        width: 80px;
    }

    .header__icon {
        width: 40px;
        cursor: pointer;
        display: inline-block;
    }
}

main {
    .banner {
        @include boxModel(100%, 50px 0, null);
        text-align: center;
        /*Imagen de fondo*/
        background-image: url("../img/banner.jpg");
        /*No repite las imagenes ya que en este caso no queremos que se repitan*/
        background-repeat: no-repeat;
        /*Establece el valor del tama;o del backgorund cover no importa el tama;o d ela imagen simepre cubrirra el contenedor*/
        background-size: cover;
        color: $white;
        /*Modifica el pa posicion de la imagen dependiendo del eje selccionado*/
        background-position-y: 60%;

        .banner__title{
            @include boxModel(100%, null, 10px);
            font-weight: 600;
            font-size: 50px;
        }

        .banner__subtitle {
            @include boxModel(100%, null, 0 auto);
            font-size:25px;
            opacity: 0.7;
            font-weight: 400;
        }
    }

    .products {
        @include boxModel(80%, 20px, 0 auto);
        /*Toma el valor de padding y lo va a fusionar con el valor de width y formara parte de ese box model*/
        @extend %BorderBox;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*autofit hace que las columnas se expandan automaticamente para que ocupen el espacio disponible*/
        /*Minmax es una funcion que define el tama;o minimo y el tama;o maximo, o sea que ninguna columna sea menor de 250px y 1 fr es el tama;o maximo*/

        .products__item {
            cursor: pointer;
            text-align: center;
        }

        .product__item--disabled {
            opacity: 30%;
        }

        .products__img {
            width: 200px;
            margin-bottom: 15px;
        }

        .products__price {
            font-weight: 600px;
            font-size: 20px;
        }  
    }

    .cart {
        @include boxModel(500px, 25px, null);
        @extend %BorderBox;
        background-color: $white;
        height: 100%;
        position: fixed;
        right: -128%;
        top: 100px; 
        /*-10 Desplazamiento horizontal, -1 desplazamiento horizontal, 22 desenfoque, -15 radio de expansion, */
        box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.30); /*Hacer sombra en una caja*/

        .cart__title{
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            padding: 25px 0;
            @extend %BorderBox;
        }

        .cart__products {
            border-bottom: 1px solid #333;
            @include flexbox(space-between, center);
            padding: 15px;
            @extend %BorderBox;
        }

        .cart__product-img {
            width: 60px;
        }

        .cart__product-price {
            font-weight: 500;
        }

        .cart div i {
            width: 25px;
            cursor: pointer;
        }

        .cart__delete-icon {
            width: 100%;
        }
    }

    .card{
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    header {
        padding: $padding10;
        @extend %BorderBox;

        .header__logo {
            width: 60px;
        }

        .header__icon {
            width: 30px;
        }
    }

    .banner {
        padding: 30px 0;
        background-position-x: 50%;
    }

    .products {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .products__img {
            width: 150px;
        }
    }

    .cart {
        width: 400px;
        top: 80px;
    }
}

@media (max-width: 400px) {
    .header {
        padding: $padding10;
        @extend %BorderBox;
    }

    .banner {
        padding: 30px 0;
        background-position-x: 50%;

        .banner__title {
            font-size: 18px;
        }

        .banner__subtitle {
            font-size: 16px;
        }
    }

    .products {
        width: 100%;
        grid-template-columns: 1fr;
        padding: $padding10;

        .products__img {
            width: 100%;
            max-width: 200px;
            margin-bottom: 10px;
        }

        .products__title,
        .products__price {
            padding: $padding10;
        }
    }

    .cart {
        width: 100%;
        box-shadow: none;

        .cart__title {
            padding: 15px 0;
        }

        .cart__products {
            flex-direction: column;
            align-items: center;
        }

        .cart__product-name {
            margin: 0;
        }
    }
}