* {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 15px;
  font-weight: 300;
  color: #999;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  padding: 5px 5%;
  background-color: #fff3dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  width: 80px;
}
.header .header__icon {
  width: 40px;
  cursor: pointer;
  display: inline-block;
}

main .banner {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  /*Imagen de fondo*/
  background-image: url("../img/banner.jpg");
  /*No repite las imagenes ya que en este caso no queremos que se repitan*/
  background-repeat: no-repeat;
  /*Establece el valor del tama;o del backgorund cover no importa el tama;o d ela imagen simepre cubrirra el contenedor*/
  background-size: cover;
  color: white;
  /*Modifica el pa posicion de la imagen dependiendo del eje selccionado*/
  background-position-y: 60%;
}
main .banner .banner__title {
  width: 100%;
  margin: 10px;
  font-weight: 600;
  font-size: 50px;
}
main .banner .banner__subtitle {
  width: 100%;
  margin: 0 auto;
  font-size: 25px;
  opacity: 0.7;
  font-weight: 400;
}
main .products {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  /*Toma el valor de padding y lo va a fusionar con el valor de width y formara parte de ese box model*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*autofit hace que las columnas se expandan automaticamente para que ocupen el espacio disponible*/
  /*Minmax es una funcion que define el tama;o minimo y el tama;o maximo, o sea que ninguna columna sea menor de 250px y 1 fr es el tama;o maximo*/
}
main .products .products__item {
  cursor: pointer;
  text-align: center;
}
main .products .product__item--disabled {
  opacity: 30%;
}
main .products .products__img {
  width: 200px;
  margin-bottom: 15px;
}
main .products .products__price {
  font-weight: 600px;
  font-size: 20px;
}
main .cart {
  width: 500px;
  padding: 25px;
  background-color: white;
  height: 100%;
  position: fixed;
  right: -128%;
  top: 100px;
  /*-10 Desplazamiento horizontal, -1 desplazamiento horizontal, 22 desenfoque, -15 radio de expansion, */
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3); /*Hacer sombra en una caja*/
}
main .cart .cart__title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 0;
}
main .cart .cart__products {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
main .cart .cart__product-img {
  width: 60px;
}
main .cart .cart__product-price {
  font-weight: 500;
}
main .cart .cart div i {
  width: 25px;
  cursor: pointer;
}
main .cart .cart__delete-icon {
  width: 100%;
}

@media (max-width: 1024px) {
  header {
    padding: 10px;
  }
  header .header__logo {
    width: 60px;
  }
  header .header__icon {
    width: 30px;
  }
  .banner {
    padding: 30px 0;
    background-position-x: 50%;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .products .products__img {
    width: 150px;
  }
  .cart {
    width: 400px;
    top: 80px;
  }
}
@media (max-width: 400px) {
  .header {
    padding: 10px;
  }
  .banner {
    padding: 30px 0;
    background-position-x: 50%;
  }
  .banner .banner__title {
    font-size: 18px;
  }
  .banner .banner__subtitle {
    font-size: 16px;
  }
  .products {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .products .products__img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .products .products__title,
  .products .products__price {
    padding: 10px;
  }
  .cart {
    width: 100%;
    box-shadow: none;
  }
  .cart .cart__title {
    padding: 15px 0;
  }
  .cart .cart__products {
    flex-direction: column;
    align-items: center;
  }
  .cart .cart__product-name {
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */